*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CABECERA===============================*/

header{
    background-color: #1f53c5;
    display: flexbox;
    width: 100%;
}

#h1-header-logo{
    user-select: none;
    padding: 40px;
}

/*=======================================*/

/*BOTON MENU HAMBURGUESA=================*/

.menu-hamburguesa{
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    color: whitesmoke;
    cursor: pointer;
    z-index: 150;
}

#btn-menu-hamburguesa{
    display: none;   
}

/*=======================================*/

/*MENU===================================*/

#nav-menu{
    box-shadow: 7px 13px 37px #000000;
    padding-top: 50px;
    background-color:#000000AA;
    position: fixed;
    top: 0;
    left: 110%;
    width: 30%;
    height: 100vh;
    z-index: 100;
    transition: all 0.7s;
}

#btn-menu-hamburguesa:checked~nav{
    left: 70%;
}

.lista-u{
    list-style: none;
}

.item-menu{
    display: block;
    margin: auto;
    padding: 0 20px;
}

button{
    justify-self: center;
    background: none;
    border: none;
}

button a{
    color: aliceblue;
    text-decoration: none;
    user-select: none;
}

/*=======================================*/

/*FORMULARIO=============================*/

#form-registro{
    width: 400px;
    background-color: #2a3d53; 
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 7px 13px 37px #000;
}
#Nombre, #Telefono, #Direccion, #Contrasena,#Correo{
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #303b55;
    padding: 5px;
    font-size: 14px;
}

#btn-submit-form {
    padding: 10px;
    width: 100%;
    border: none;
    margin: 16px 0;
    font-size: 16px;
    color: white;
    background: #1f53c5;
    font-weight: bold;
}

/*=======================================*/

/*MEDIA QUERTY===========================*/

@media (max-width: 500px) {
    body{
        padding: 10px;
        font-size: 1.5em;
    }

    #nav-menu{
        width: 100%;
        background-color: #1f53c5FF;
    }

    #btn-menu-hamburguesa:checked~nav{
        left: 0;
    }

    button{
        font-size: 1.3em;
    }
}

@media (min-width:501px) and (max-width: 800px) {

    body{
        padding: 20px;
        font-size: 2em;
    }

    #nav-menu{
        background-color: #000000DD;
        width: 70%;
    }

    #btn-menu-hamburguesa:checked~nav{
        left: 30%;
    }

    button{
        font-size: 0.8em;
    }
}

@media (min-width:801px){

    #nav-menu{
        width: 30%;
    }

    #btn-menu-hamburguesa:checked~nav{
        left: 70%;
    }

    button{
        font-size: 1.3em;
    }
}

/*=======================================*/